 {% extends 'plant/base.html' %}

 {% block body %}

<section id="contact" style="padding-top: 70px">
<div class="container" style="padding-top: 40px;">
<div class="well-sm">
<h3 style="color: #777; font-family: Calibri; text-transform: capitalize;"><strong>Contact Us</strong></h3>
</div>
<div class="row">
<div class="col-md-7"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6589.494106789314!2d106.79865722565064!3d10.877210515802838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a415a9d221%3A0x550c2b41569376f9!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBRdeG7kWMgVOG6vyAtIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1520939905200" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<div class="col-md-5">
<form><div role="form" class="wpcf7" id="wpcf7-f1224-p85-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/contact/#wpcf7-f1224-p85-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1224" />
<input type="hidden" name="_wpcf7_version" value="5.0.1" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1224-p85-o1" />
<input type="hidden" name="_wpcf7_container_post" value="85" />
</div>
<p style="color: #777; font-family: Calibri; text-transform: capitalize;"><label> Your Name (required)<br />
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </label></p>
<p style="color: #777; font-family: Calibri; text-transform: capitalize;"><label> Your Email (required)<br />
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </label></p>
<p style="color: #777; font-family: Calibri; text-transform: capitalize;"><label> Subject<br />
    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </label></p>
<p style="color: #777; font-family: Calibri; text-transform: capitalize;"><label> Your Message<br />
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary btn-sm" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></form>
</div>
</div>
</div>
</section>
 {% endblock %}