 {% extends 'plant/base.html' %}

 {% block body %}

    <!-- Page Content -->

 <div class="container" style="padding-top: 150px">

        <div class="row">
          <div class="col-md-3 anchor">
                
            </div>

            <div class="col-md-3 anchor" style="position:fixed;">
                <p class="lead" style="color: #777; text-transform: uppercase;font-weight: bold;">Contents</p>
                <div class="list-group" style="margin-right: 165px;">
                    <a href="#plantimage" class="list-group-item">1. Plant Image</a>
                    <a href="#information" class="list-group-item">2. Information</a>
                    <a href="#classification" class="list-group-item">3. Classification</a>
                    <a href="#metabolites" class="list-group-item">4. Metabolites</a>
                    <a href="#therapeutic" class="list-group-item">5. Therapeutic Effects</a>
                    <a href="#distribution" class="list-group-item">6. Distribution</a>
                </div>
            </div>

            <div class="col-md-9 anchor" >
                <div style="padding-left: 15px;padding-bottom: 6px;" >
                    <a class = "anchor" style="color: #777; font-weight: none; text-transform: uppercase;font-size: 16px;" name="plantimage">Plant image</a>
                </div>
                <div class="thumbnail" style="padding-left: 6px; padding-top: 6px;padding-bottom: 6px;">
                  
                    <img src="{{plant.plant_image}}" style="width: 200px; height: 300px;display: inline-block;">
                    <img src="{{plant.plant_image_2}}" style="width: 200px; height: 300px;display: inline-block;",>
                    <img src="{{plant.plant_image_3}}" style="width: 200px; height: 300px;display: inline-block;">
                    <img src="{{plant.plant_image_4}}" style="width: 200px; height: 300px;display: inline-block;">
                </div>
                <!--  -->
                <div style="padding-left: 15px;padding-bottom: 6px;">
                    <a class = "anchor" style="color: #777; font-weight: none;text-transform: uppercase;font-size: 16px;" name="information">Information</a>
                </div>
                <div class="thumbnail" style="padding-left: 15px; padding-bottom: 20px;">
                  <br>
                  <p style="color: #777; font-weight: bold;">English Name </p>
                  <p style="color: #777; font-family: Calibri;">{{plant.plant_engname}}</p>
                  <br>
                  <p style="color: #777; font-weight: bold; ;">Vietnamese Name</p>
                  <p style="color: #777; font-family: Calibri;text-transform: capitalize">{{plant.plant_vnname}}</p>
                </div>

                <!--  -->
                <div style="padding-left: 15px;padding-bottom: 6px; padding-bottom: 20px;">
                    <a class = "anchor" style="color: #777; font-weight: none;text-transform: uppercase;font-size: 16px; " name="classification">Classification</a>
                </div>
                <div class="thumbnail" style="padding-left: 15px; padding-bottom: 20px;">
                  <br>
                  <p style="color: #777; font-weight: bold;">Familia </p>
                  <a href="{% url 'detailfamilia' familia_id=plant.familia_id %}"><p style="color: #777; font-family: Calibri;">{{plant.familia}}</p></a>
                  <br>
                  <p style="color: #777; font-weight: bold; ;">Genus</p>
                   <a href="{% url 'detailgenus' genus_id=plant.genus_id %}"><p style="color: #777; font-family: Calibri;text-transform: capitalize">{{plant.genus}}</p></a>
                </div>

                <!--  -->
                <div style="padding-left: 15px;padding-bottom: 6px; padding-bottom: 20px;">
                    <a class = "anchor" style="color: #777; font-weight: none;text-transform: uppercase;font-size: 16px;" name="metabolites">Metabolites</a>
                </div>
                <div class="thumbnail" style="padding-left: 15px; padding-bottom: 20px;">
                  <br>
                  <table class="table">
                      <thead>
                        <tr>
                          <th style="text-align: center;color: #777; font-weight: bold; ">Metabolite ID</th>
                          <th style="text-align: center;color: #777; font-weight: bold; ">Metabolite Name</th>
                          <th style="text-align: center;color: #777; font-weight: bold;">Structure</th>
                          <th style="text-align: center;color: #777; font-weight: bold;">References</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pl in meta %}
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href="{% url 'detailmetabolite' metabolite_id=pl.metabolite_id %}"><p style="color: #777; font-family: Calibri; text-align: center">{{pl.metabolite.metabolite_id}}</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href="{% url 'detailmetabolite' metabolite_id=pl.metabolite_id %}"><p style="color: #777; font-family: Calibri;">{{pl.metabolite.metabolite_name}}</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><p style="text-align:center"><img src="{{pl.metabolite.image}}" alt="{{pl.metabolite.metabolite_name}}" style="width:175px;display: inline-block;"></p></td>
                          <td>
                            {% if pl.metabolite.linkpubchem|length > 0 %}
                            <a href="{{pl.metabolite.linkpubchem}}">Pubchem</a><br>
                            {% endif %}
                            {% if pl.metabolite.linkknapsack|length > 0 %}
                            <a href="{{pl.metabolite.linkknapsack}}">Knapsack</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>

                <!--  -->
                <div style="padding-left: 15px;padding-bottom: 6px; padding-bottom: 20px;">
                    <a class = "anchor" style="color: #777; font-weight: none;text-transform: uppercase;font-size: 16px;" name="therapeutic">Therapeutic Effects</a>
                </div>
                <div class="thumbnail" style="padding-left: 15px; padding-bottom: 20px;">
                  <br>
                  <ol class="custom-counter">
                  {% for pl in thera %}
                  
                    <li style="color: #777; font-family: Calibri; text-transform: capitalize;"> {{pl.thera.thera_name}} </li>
                  {% endfor %}
                  </ol>
                  
                </div>

                <!--  -->
                <div style="padding-left: 15px;padding-bottom: 6px; padding-bottom: 20px;">
                    <a class = "anchor" style="color: #777; font-weight: none;text-transform: uppercase;font-size: 16px; " name="distribution">Distribution</a>
                </div>
                <div class="thumbnail" style="padding-left: 15px; padding-bottom: 20px;">
                  <br>
                  <ol class="custom-counter">
                  {% for pl in loca %}
                  
                    <li style="color: #777; font-family: Calibri; text-transform: capitalize;"> {{pl.distribution.location_name}} </li>
                  {% endfor %}
                  </ol>
                  
                </div>

                <!--  -->
                <div class="thumbnail" style="padding-left: 15px; padding-bottom: 20px;">
                  <br>
                  <table class="table">
                      <thead>
                        <tr>
                          <th style="text-align: center;color: #777; font-weight: bold; ">Top</th>
                          <th style="text-align: center;color: #777; font-weight: bold; ">Drug name</th>
                          <th style="text-align: center;color: #777; font-weight: bold;">Score</th>
                          <th style="text-align: center;color: #777; font-weight: bold;">References</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">1</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Disopyramide</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6379</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">2</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Deslanoside</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6354</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr style="background-color: lightgoldenrodyellow;">
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">3</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Digoxin</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6347</p></a></td>
                          <td>
                            <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1742-1241.2012.03008.x">Link</a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">4</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Clevidipine</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6290</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">5</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Gliquidone</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6258</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">6</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Cilnidipine</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6229</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">7</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Barnidipine</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6205</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">8</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Oxprenolol</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6149</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr style="background-color: lightgoldenrodyellow;">
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">9</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Bendrofluazide</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6147</p></a></td>
                          <td>
                            <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1742-1241.2012.03008.x">Link</a>
                            </td>
                            
                        </tr>
                        <!-- Row -->
                        <tr>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri; text-align: center">10</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">Encainide</p></a></td>
                          <td style="border-right: 1px solid #dddd;"><a href=""><p style="color: #777; font-family: Calibri;">0.6129</p></a></td>
                          <td>
                            <a href=""></a>
                            </td>
                            
                        </tr>
                        
                      </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

 {% endblock %}
