{% extends 'plant/base.html' %}
{% block title %}{{plant.plant_name}}{% endblock %}

{% block body %}



<h1>{{ plant.plant_engname}}</h1>
<h1 class="text-capitalize">{{ plant.plant_vnname}}</h1>
<h2> Classification </h2> 
<div>
	<h4>Familia: 
		<a href="">{{plant.familia.family}}</a>
	</h4>	
</div> 

<div>
	<h4>Genus: 
		<a href="">{{plant.genus.genus}}</a>
	</h4>	
</div> 

<div>
	<h4>Therapeutic effects:
	{% for effect in effects %}
	 
		<li><a href="">{{effect}}</a></li>

	{% endfor %}
	</h4>	
</div> 

<div>
	<h4>Distribution:
	{% for dis in distri %}
	 
		<li><a href="">{{dis}}</a></li>

	{% endfor %}
	</h4>	
</div> 


{% endblock %}