 {% extends 'plant/base.html' %}
 {% block body %}  
  <!-- [MAIN Home Page ]
=============================================================================================================================-->
  <section class="main-gallery" id="home">
    <div class="overlay">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-md-xx text-center">
                 <h1 class="text-capitalize bigFont" data-scroll-reveal="wait 0.45s, then enter top and move 80px over 1s">PAGE NOT FOUND</h1>
                 <h1 class="text-capitalize bigFont" style="font-size: 80px">ERROR 404</h1>

              </div>
              

      </div>
    </div>
      
  </section>
  
  
  <!-- [/MAIN GALLERY]
=============================================================================================================================-->

 
 
 <!--  [CONTACT INFO ENDS ]-->
 <!-- [/SUBSCRIBE]
=============================================================================================================================-->
 {% endblock %}