 {% extends 'plant/base.html' %}
 {% block body %}  
{% load static %}
<div id="preloader">
<div id="loading">
  <img id="loading-image" src="{% static '/images/loading.gif' %}" alt="Loading..." />
</div>
</div>
  <!-- [MAIN Home Page ]
=============================================================================================================================-->
  <section class="main-gallery" id="home">
    <div class="overlay">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-md-xx text-center">
                 <h1 class="text-capitalize bigFont" data-scroll-reveal="wait 0.45s, then enter top and move 80px over 1s">Let's discover</h1>

                <p class="intro" data-scroll-reveal="wait 0.45s, then enter left and move 80px over 1s">Get freely access to over 2800 botanical herb informations.</p>
              </div>
              
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="text-center top40">
                       
                                <!-- Search -->



{% csrf_token %}
<div id="custom-search-input">
                <div class="input-group col-md-12">
                  <form method="get">
                    <input type="text" class="form-control input-lg" name="search" id="search" placeholder="Enter your search..." autocomplete="off"/>
                  </form>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" style="padding-top: 13.5px;">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>

                </div>
            </div>
            <div  style="animation-delay: 2s;" class="search-show">
            <ul class="manual-searchresults" id = "search-results">

</ul>
</div>
                    </div>
              
          </div>
      </div>
    </div>
      
  </section>
  
  
  <!-- [/MAIN GALLERY]
=============================================================================================================================-->

 
 
 <!--  [CONTACT INFO ENDS ]-->
 <!-- [/SUBSCRIBE]
=============================================================================================================================-->
 {% endblock %}
