 {% extends 'plant/base.html' %}
 {% block body %}  

<section class="team" style="padding-bottom: 0px;">
<div class="container" style="padding-top: 120px">

	<div class="col-md-12 anchor" >
                <div style="padding-left: 15px;padding-bottom: 6px; font-size: 40px; color: #777;" >
                	ONTOLOGY
                </div>
                <div class="thumbnail" style="padding-left: 6px; padding-top: 6px;padding-bottom: 6px;">
                 <p>In the beginning stage, VIETHERB was built in ontology-based structure by automatic process using
Python programing. The ontology-based structure allows us to effectively organize the numerous
hierarchical multi-class records. The relational database was then implemented in Java and MySQL
database for homogenous querying purposes specifies each attribute for a specific concept. Our website
shows users only data in the relational database with friendly-user interface. Besides, exporting data in
OWL - ontology format for other specific purpose is supported.</p>
<br>
<p>To download the ontology file:</p>
<br>
<a class="btn btn-danger" role="button" href="https://drive.google.com/uc?export=download&id=1ZQ9weklGgtaQKMqQ46rAVPfQ9D3IsMGU" download="VHO.owl">DOWNLOAD LINK</a> 

                </div>



</div>
</div>

</section>


 {% endblock %}
